@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 40px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: row;
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Aleo", serif;
}

#tooltip {
  max-width: 350px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
}

#tooltip .bi-soundwave {
  font-size: 6em; 
}

#logo {
  margin-top: 20px;
  width: 100px;
}

h1 {
  font-size: 40px;
  font-family: "Arimo", sans-serif;
}

p {
  font-size: 16px;
  }


a[href^="mailto:"] { 
  color: #0333; 
  text-decoration: underline; 
}

a[href^="mailto:"]:hover { 
  color: black; 
}

#treemap {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.node text {
    font: 12px sans-serif;
    fill: #333;
}

.link {
    fill: none;
    stroke: #a7a7a7;
    stroke-width: 2px;
}

/* Target nodes with the class "clickable-node" */
.clickable-node text:hover {
  cursor: pointer;
}

.node-background {
  fill: #c7c7c7; /* Set background color */
}

#link {
  color: #333;
}

#link:visited {
  color: #7e7e7e;
}

#info-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 450px;
    width: 400px;
    background-color: #dbdbdb;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-out;
    transform: translateY(100%);
    border-top-right-radius: 10px;
  }
  
  #info-panel.visible {
    transform: translateY(0);
  }
  
  #info-content {
    margin-bottom: 15px;
  }
  
  #close-panel-container {
    display: flex;
    justify-content: flex-end; 
    cursor: pointer;
    
  }
  
  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Aleo", serif;
  }

  textarea {
    min-height: 100px;
  }

  #submitbutton {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }