
@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  display: flex;
  flex-direction: column; 
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Aleo", serif;
}

#header-container {
  background: linear-gradient(to right, #222, #333, #444);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px; 
}

#logo {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease;
}

#logo-link {
  text-decoration: none; 
  color: inherit; 
  display: flex;
  gap: 20px;
  align-items: center; 
}

#logo:hover {
  transform: rotate(10deg) scale(1.1);
}

#social-share {
  color: #fff;
  margin-left: auto;
  display: flex;
  gap: 15px;
  align-items: center;
}

#social-share i {
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

#social-share i:hover {
  color: #a7a7a7;
}

#main-container {
  margin: 20px;
  display: flex;
  gap: 20px;
  flex-direction: row;
}

#tooltip {
  max-width: 350px;
  min-width: 300px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333;
}

h1 {
  font-size: 24px;
  color: #fff;
  margin: 0;
}

p {
  font-size: 16px;
  }

#treemap {
  max-width: 1200px;
  min-width: 300px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.node text {    
  fill: #333;
}

.link {
  fill: none;
  stroke: #a7a7a7;
  stroke-width: 2px;
}

.clickable-node text:hover {
  cursor: pointer;
}
#link {
  color: #333;
  font-size: 14px;
}

#link:visited {
  color: #7e7e7e;
}

#info-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    height: auto;
    width: 90%;
    max-width: 450px;
    background-color: #dbdbdb;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-out;
    transform: translateY(100%);
    border-top-right-radius: 10px;
  }
  
  #info-panel.visible {
    transform: translateY(0);
  }
  
  #info-content {
    margin-bottom: 15px;
  }
  
  #close-panel-container {
    display: flex;
    justify-content: flex-end; 
    cursor: pointer;    
  }
  
  form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    font-family: "Aleo", serif;
  }

  textarea {
    min-height: 100px;
  }

  #submitbutton {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Aleo", serif;
  }

  #submitbutton:hover {
    background-color: #a7a7a7;
    color: #fff;
  }

  .social-share i {
    color: #333;
    font-size: 24px;
  }